.loginCard {
    /* margin-top: 200px !important; */
    background-color: #242424;
    border-radius: 20px;
    padding: 50px !important;
    /* padding-left: 100px !important; */
    position: relative;
    min-width: 250px;
}

.loginSide {
    /* height: 50px; */
}

/* ----------- FORM STYLES --------- */
.formGroup {
    margin-bottom: 15px !important;
    margin-top: 15px !important;

    width: 100%;
}

.formLabel {
    background-color: #242424;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
    position: relative;
}


input[type="file"] {
    padding: 0;
    position: relative;
    padding: 10px;
    padding-left: 30px;
    /* padding-left: 0; */
}

input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 12px;
    left: 4px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::file-selector-button {
    background-color: #242424;
    color: white;
    height: 100%;
    /* width: 50%; */
}

.formInput {
    margin-top: -20px;
    background-color: #242424 !important;
    color: white !important;
    border: 1px solid white;
    height: 52px;
}

.formCheckGroup {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-top: -18px !important;
}

.buttonGroup {
    width: 100%;
}

.btn {
    border: 1px solid white !important;
    color: white !important;
    background-color: #24242400 !important;
}

.btnLogin {
    background-color: #1380dada !important;
}

.btnLogin:hover {
    background-color: #1a8eecda !important;
}



.containerRabbit {
    position: absolute;
    width: 130px;
    height: 100px;
    bottom: -10px;
}

.bottom-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-43%);
    width: 100%;
    height: auto;
}

.speech-bubble {
    position: absolute;
    bottom: 120%;
    left: 100%;
    transform: translateX(-50%);
    width: 180px;
    padding: 10px;
    background: #81818100;
    border: 1px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 30%;
    transform: translateX(-100%);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0;
    margin-left: -10px;
    margin-bottom: -10px;
}

.speech-bubble p {
    margin: 0;
    text-align: center;
}



@media (max-width: 767.98px) {
    .loginCard {
        min-height: 120vh;

    }
}

@media (min-width: 767.98px) {
    .loginCard {
        margin-top: 10% !important;
        width: 50% !important;
    }
}

/* ------------ REGISTER --------- */
@media (min-width: 767.98px) {
    .formRegister {
        width: 80% !important;
    }

    .formText {
        width: 20% !important;
    }
}