.navbar {
    height: 100vh;
    width: 55PX;
    background-color: #222224 !important;
    padding: 0 !important;
    position: fixed !important;
    z-index: 20;
}
.nabarButtons{
    height: 20% !important;
}
.navbar__button {
    background-color: #1f1f2000;
    border: 0;
    width: 100%;
    color: #0A58CA;
    font-size: 1.5rem;
}


/* ---------- DROPDOWN --------------- */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: black;
}
.dropdownClickHover{

    padding: 5px;
}
.dropdownClickHover:hover{
    background-color: #e2dcdc;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 101%;
    bottom: 90%;

    background-color: #f9f9f9;
    border-radius: 5px 5px 5px 0px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

/** -------- CHECKBOX ---------*/
.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #6e79d6;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #535db3;
    transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #222224;
    left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: #535db3;
}

